.form-control_aura {
  display: block;
  width: 65%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control_aura:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-group_aura {
  margin-bottom: 7px;
}
.btn-block_aura {
  display: block;
  width: 65%;
}
.footer_aura {
  position: fixed; 
  left: 0; bottom: 0; 
  padding: 10px;
  background: #ffffff;
  color: #a9a9a9;
  width: 100%;
 }
.bg-danger_aura{
  display: block;
  width: 65%;
  background-color: #ffd7d7;
  border-radius: 4px;
  border: 1px solid #ff8585;  
}
.navbar-default_aura {
  background-color: #7a9faf;
}
