.desck_window {
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 2px;
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid #dedede; 
}
.desck_window.collapsed {
	height: 51px!important;
}
.window_header {
	border-bottom: 1px solid #f0efe7;
	box-shadow: 0px -1px 1px -1px #f0efe7 inset;
	background-color: #EDECE8;
	cursor: pointer;
	overflow: auto;
	height: 31px;
	overflow: hidden;
}
.window_title {
	display: block;
	float: left;
	line-height: 31px;
	padding-left: 10px;
}
.window_managment {
	float: right;
	display: block;
}
.window_managment .glyphicon {
	top:0;
}
.window_managment_button {
	border-left: 1px solid #DDDCD9;
	line-height: 31px;
	padding: 0px 8px;
	display: block;
	float: left;
}
.window_managment_button:hover {
	background-color: #DDDCD9;
}

.window_body {
	padding: 10px;
    position: absolute;
    overflow: auto;
    top: 31px;
    width: 100%;
    min-width: 200px;
    bottom: 0;
}
.desck_window.collapsed .window_body {
	display: none;
}


.user_info {
    left: 625px;
    top: 5px;
    height: 208px;
    width: 286px;
}
.request_info {
	left: 5px;
    top: 5px;
    width: 612px;
    height: 112px;
}
.request_description .window_body {
	white-space: pre-line;
}
.request_description {
	left: 5px;
    top: 131px;
    width: 612px;
    height: 417px;
}
.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
	background-color: #ffffff;
}
.monitor_list {
	display: block;
	padding: 0;
}