@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
.form-control_aura {
  display: block;
  width: 65%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control_aura:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-group_aura {
  margin-bottom: 7px;
}
.btn-block_aura {
  display: block;
  width: 65%;
}
.footer_aura {
  position: fixed; 
  left: 0; bottom: 0; 
  padding: 10px;
  background: #ffffff;
  color: #a9a9a9;
  width: 100%;
 }
.bg-danger_aura{
  display: block;
  width: 65%;
  background-color: #ffd7d7;
  border-radius: 4px;
  border: 1px solid #ff8585;  
}
.navbar-default_aura {
  background-color: #7a9faf;
}

body {
    color: #585f69;
    overflow-y: scroll!important;
	font-size: 13px;
}

.badge {
	margin-left: 5px;
}

.panel::-webkit-scrollbar {
  //background-color: #ffffff;
    //width: 1em;
}
 
.panel::-webkit-scrollbar-track {
  //background-color: red;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.panel::-webkit-scrollbar-thumb {
  //background-color: red;
  //outline: 1px solid slategrey;
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.btn-lg-p {
    padding: 5px 8px!important;
}

.info{
	font-size: 13px;
	position: relative;
    display: block;
    padding: 1px 10px;
    margin-bottom: 1px;
    background-color: #fff;
    border: 1px solid white;
}
.manage_list_left .dropdown-submenu>a::before{
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-right-color: #cccccc;
    margin-top: 5px;
    margin-left: -15px;
}
.manage_list_left .dropdown-submenu:hover>a::before{
    border-right-color: #ffffff;
}
.manage_list_left .dropdown-submenu>a::after {
    display: none;
}
.manage_list_left .dropdown-submenu>.dropdown-menu {
    top: 5px;
    left: -100%;
    margin-left: -15px;
}
.manage_list_left .dropdown-submenu>.dropdown-menu>.dropdown-submenu>.dropdown-menu {
    top: 5px;
    left: -100%;
    margin-left: 20px;
}
.kernel_last_time {
    float: right;margin-top: -0px;right: 10px; position: absolute;
}
.fixx {
    position: fixed;
    right: 0px; 
    padding-right: 10px;
    padding-left: 5px;
    height: 100%;
    width: calc(41.66666666% - 11px);
}
.search_results_list {
    padding-left: 0px;
}
.detailed_info {
    display: none; 
	margin-top: 10px;  
	border-width: 1px; 
	border-style: solid; 
	border-color:#b5b3b3;
}
.fixx > div, .fixx > ul {
    margin-left: 7px;
}
.info_name {
    float: left;
}
.info_input > .select2 {
    width: 100%!important;
}
.info_input .select2-selection {
    font-size: 11px!important;
    padding: 1px 5px!important;
    height: 18px!important;
}
.info_input {
    float: left;
    width: calc(100% - 50px);
    max-width: 500px;
    margin-left: 10px;
}
.panel, .list-group {
    margin-bottom: 10px;
}
.navbar-header{
padding-bottom: 5px;
}
.navbar-form.navbar-right {
  padding-top: 10px;
}
.window {
	background: #ffffff;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 2px;
}

.header {
 	height: 70px;
 	padding: 10px;
 	overflow: hidden;
 	padding: 0;
 	margin: 10px;
}
.header_menu {
	float: right;
	height: 100%;
}
.header_menu_button {
	line-height: 70px;
	float: right;
	border-left: 1px solid #f0efe7;
}
.header_menu_button a {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
}
.header_menu_button a:hover {
 	background-color: #E8EAF2;
}
.header_menu_button._empty {
	padding: 0 20px;
}

.main-container {
	position: relative;
} 
.dropup .dropdown-menu .dropdown-menu {
    bottom: auto;
}
.logo1 {
 	color: red;
 	font-weight: bold;
 	font-size: 34px;
 	padding: 11px 30px;
 	text-shadow: 2px 2px 2px #cccccc;	
    font-family: Roboto,Helvetica,Arial,sans-serif;
    float: left;
}

.left-column {
	overflow: hidden;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.3s width;
	position: relative;
	width: 200px;
	height: 567px;
	text-align: center;
	padding: 0;
}
.unactive.left-column {
 	font-size: 20px;
 	width: 60px;
    margin-bottom: 0;
    padding: 0;
}
.left-column_toggler {
    cursor: pointer;
 	width: 100%;
	transition: 0.3s width;
 	line-height: 70px;
 	border-bottom: 1px solid #cccccc;
 	font-size: 20px;
}
.unactive .left-column_toggler {
 	border: none;
    overflow: auto;
    float: left;
    margin-top: 0px;
    height: 100%;
    text-align: center;
}
.left-column_buttons {
	width: 100%;
	overflow: hidden;
	float: left;
	margin-top: 0px;
}
.unactive .left-column_buttons {
	display: none;
	width: 110px;
}
.left-column_button {
 	width: 100%;
 	line-height: 70px;
 	border-bottom: 1px solid #cccccc;
 	cursor: pointer;
}
.left-column_button a {
 	text-decoration: none;
 	color: inherit;
 	display: block;
}
.left-column_button:hover, .left-column_button.current {
 	background-color: #E8EAF2;
}
.left-column_button:last-of-type {
 	border: none;
}
.left-column_button_align {
 	display: inline-block; line-height: 80%;line-height: 120%;vertical-align: middle;
}

.search {
	padding: 0 20px;
}
.workdesk {
	background-color: #ffffff;
	overflow: auto;
	padding: 5px;
	margin-right: 10px;
	box-shadow: 0 0 4px rgba(0,0,0,.14) inset,0 4px 8px rgba(0,0,0,.28) inset;
	min-height: 567px;
	height: 567px;
	height: 85vh;
	height: calc(100vh - 95px);
	border-radius: 2px;
	//resize: vertical;
	margin-bottom: 20px;
	padding-top: 20px;
    position: relative;
}

.list-group-item {
	overflow: auto;
}
.action_icon_container {
	float: left;
    overflow: visible;
    position: absolute;
    top: 17px;
    width: 25px;
    bottom: 17px;
}
.action_icon_image {
    vertical-align: text-top;
    margin-top: -17px;
    position: absolute;
    top: 50%;
	width: 34px;
}
#tech_comment_tbl, #user_answer_tbl {
	width: 100%!important;
}
.new_request_form {
	position: relative;
    width: 600px;

}
.new_request_form .form-group {
	margin-bottom: 5px;
}
.select2-container--open {
    z-index: 30000;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
	z-index: 30000;
} 
.new_request_form_container {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;

}
.new_request_form_overlay {
	background-color: #222222;
	opacity: 0.5;
    left: 0;
    top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}
.ticket_update_container .select2-selection {
	padding: 0px 5px;
    height: 22px;
}
.ticket_event_container {
	clear: both; margin-top: 15px; display: none; max-height: 600px; overflow: auto;
    position: relative;
    max-height: calc(100vh - 185px);
}
.ticket_update_options {
	border: none;
	box-shadow: none;
	padding: 0;
	height: 21px; 
	font-size: 10px; 
	vertical-align:middle;
	border: 1px solid #e3e3e3;
	
}
.select2-results {
	font-size: 13px;
}
.select2-results__group {
	font-weight: bold;
	font-size: 14px;
}
.action_icon_container {
	width: 34px;
	margin-left: -5px;
}
.curator_i .action_icon_container {
    margin-left: -1px;
}
.curator_i {
	overflow: visible;
    padding: 7px;
    padding-left: 10px;
    padding-bottom: 3px;
}
.curator_i .list-group-item {
   .. background-color: #FFFFEA;
   .. border: 1px solid #E8E8E8;
}
.tb_container {
	position: relative;
}
.ticket_body {
	margin-right: 200px; border-right: 1px solid #dfdfdf; padding-right: 10px; position: relative;
}
.second_col{
	
	margin-right: 100px; width: 100px; position: absolute;  top: 0;right: -10px;
}

.tb_inner_c {
	margin-bottom: 0px; position: relative;
}
.ticket_title {
	font-size: 12px; 
	font-weight: bold;
	display: block; 
	margin-top: -4px;
}
.ticket_description {
	height: 31px; 
    line-height: 125%;
	font-size: 12px; 
	overflow: hidden; 
	margin-bottom: 1px;
	margin-top: 2px;
    margin-left: 45px;
}
.ticket_date {
	margin-top: 5px;
	font-size: 12px;
	color:gray; margin-right: 4px;
}

.number_desc{
	font-size: 11px;
    font-weight: bold;
	// margin-right: 10px;
	//text-align: center;
	
}

.ticket_fio {
	margin-top:5px;
	font-size: 11px;
	text-transform: capitalize;
}
.ticket_site{
	margin-top:5px;
	font-size: 11px;
	text-transform: capitalize;
	color: #AB2929;
	margin-left: 4px;
}
.tuco {
	width: 210px; position: absolute; right: 0; top: 0;right: -10px;
}
.ticket_eml_body {
	overflow: auto; 
    max-height: calc(100vh - 429px);
}
.btn.active {
    border-width: 2px!important;
    color: #ffffff!important;
    box-shadow: none;
}
.button-list .btn {
    border-width: 1px!important;
    font-weight: 100!important;
    min-width: 85px;
    margin-left: 5px;
}
.search_results {
	position: fixed;
    width: 700px;
    max-height: 300px;
    left: 50%;
    margin-left: -350px;
    border: 1px solid #cccccc;
    z-index: 999999;
    overflow: auto;
    background: #ffffff;
    padding: 10px;
    padding-top: 5px;
    border-top: none;
    margin-top: 60px;
}
.search_ticket {
    display: block;
	overflow: hidden;
    border-bottom: 1px solid #dddddd;
    box-shadow: inset 0px -1px 2px -1px #dddddd;
}
.search_ticket:last-of-type {
	border: none;
	box-shadow: none;
}
.search_ticket_link {
    text-decoration: none;
    color: #585f69;
    padding-top: 7px;
    overflow: hidden;
    display: block;
}
.search_ticket_link:hover {
	color: #585f69;
	background-color: #d9edf7;
}
.curation_update_select {
	cursor: pointer;
}
.filter_input {
	float: left!important; padding: 0px 5px!important; margin-bottom: 10px;
}
.filter_input label {
	font-weight: bold; font-size: 11px; padding: 4px; width: 73px;
}
.filter_page_input {
    padding: 6px 12px; font-size: 13px;
}
.filter_body {
	padding: 15px 10px;
}
.filter_input .select2-container--bootstrap, .filter_input .select2-container--bootstrap input {
    width: 100%!important;
   // min-width: 160px!important;
}

.filter_input .select2-selection--multiple {
    border-radius: 0;
}
.filter_input .select2-selection__choice {
    font-size: 12px;
    margin: 2px 0 0 2px!important;
}
.filter_input .select2-search.select2-search--inline {
    //display: block;
    //width: 1px!important;
}
.search_page_sort.__right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	padding: 3px 5px;
}
.search_page_sort.__left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	padding: 3px 5px;
}
.search_sort_buttons_container {
    width: 50px;
    height: 100%;
}
.open_modal_window {
    cursor: pointer;
}
.timetable th {
    cursor: pointer;
}
.__supervisor {
    color: red;
}
.__out {
    text-decoration: line-through;
}
table .tooltip_custom {
        position: absolute;
    border-top: 12px solid gold;
    border-left: 12px solid transparent;
    z-index: 1000;
    top: 0;
    right: 0;
    opacity: 1
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu{float:none;}.dropdown-submenu>.dropdown-menu{left:100%;margin-right:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-submenu:hover {
	background-color: #B5D6E2;
}
.sidebar{float:right;margin-right:20px;}
.src_header {
	font-weight: bold;
	display: none;
	padding-top: 6px;
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 6px;
    cursor: pointer;
    background: #5fbeaa;
    color: #ffffff;
    border: 1px solid #489181;
    margin-bottom: 3px;
    position: relative;
}
.src_header.borderless {
	border-top: none;
}
.mini_checkbox::before {
    width: 14px!important;
    height: 14px!important;
    margin-top: 2px!important;
}
.mini_checkbox::after {
    font-size: 9px!important;
    padding-top: 3px!important;
}
.mini_checkbox {
    padding-left: 0px!important;
    min-height: 17px!important;
}
.src_header .badge {
	margin-top: -3px;
}
.foo-table-first {
    background: #ffffff;
}
.news_container {
    position: fixed;bottom: 0px;left: 0px;width: 90px;height: 90px;z-index: 100;
    background: #eeeeee;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd; cursor: pointer;
    text-align: center;
    padding: 20px;
    padding-top: 21px;
}
.news_container.active {
    padding-top: 10px;
    width: 800px;
    height: auto;
    overflow: auto;
}
.news_list li {
    margin-bottom: 7px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    font-size: 12px;
    overflow: auto;
}
.news_list li div {
    float: left;
    padding: 1px 5px;
    border-left: 1px solid #cccccc;
}
.news_list li div:first-of-type {
    border-left: none;
}
.curator_i:nth-child(2n) {
    background: #F4F9F9;
}
.curator_i.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7!important;
}
.list-group-item-text {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top:3px;
    color:black;
}
.list-group-item-text.collapsed_text {
    width: 100%;
    cursor: pointer;
    height: 42px;
    position: relative;
    overflow: hidden;
    padding-right: 30px;
    color: #800;
}
.list-group-item-text.collapsed_text:hover {
    text-decoration: underline;
}
.list-group-item-text.collapsed_text:hover::after {
} 
.list-group-item-text.collapsed_text::after {
    content: "\e07b";
    font-family: 'simple-line-icons';
    position: absolute;
    bottom: 6px;
    right: 12px;
    font-size: 27px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span.label {
    top: 1px;
    right: 2px;
    left: initial;
    border-radius: 4px;
    padding: 2px 4px!important;
    font-size: 10px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a span.label {
    right: 207px;
}
.uncollapsed_text::after {
    content: "\e078";
    font-family: 'simple-line-icons';
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 27px;
    cursor: pointer;
    color: #5d9cec;
}
.photo_preview{cursor:pointer;}
.preview{position:fixed;z-index:20000;width:100%;height:100%;top:0;text-align:center;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:center;align-items:center;}
.preview_overlay{-webkit-animation:preview_overlay 0.6s;-moz-animation:preview_overlay 0.6s;-ms-animation:preview_overlay 0.6s;-o-animation:preview_overlay 0.6s;animation:preview_overlay 0.6s;position:fixed;width:300%;margin-left:-50%;height:100%;opacity:0.75;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(75));filter:alpha(opacity = (75));background-color:#ffffff;top:0;z-index:100;}
.preview_container_photo{border:1px solid #D0DFE6;-ms-transform:rotatey(0);-webkit-transform:rotatey(0);-o-transform:rotatey(0);-moz-transform:rotatey(0);transform:rotatey(0);-webkit-animation:rounding 1s;-moz-animation:rounding 1s;-ms-animation:rounding 1s;-o-animation:rounding 1s;animation:rounding 1s;position:relative;z-index:101;background-color:#ffffff;display:inline-block;max-width:90%;padding:40px;max-height:100%;overflow-y:auto;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.img_container{-webkit-transition:width 0.3s;-moz-transition:width 0.3s;-ms-transition:width 0.3s;-o-transition:width 0.3s;transition:width 0.3s;min-height:60px;min-width:60px;}
.img_container img{width: auto; height: auto; max-width:1000px !important;max-height:600px;max-height: 100vh;}
.preview_left{background-image:url(left.png);height:100%;background-repeat:no-repeat;background-position:50%;width:100px;cursor:pointer;top:0px;position:absolute;z-index:3;opacity:0.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(70));filter:alpha(opacity = (70));-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;-ms-transition:opacity 0.3s;-o-transition:opacity 0.3s;transition:opacity 0.3s;}
.preview_left{left:0;}
.preview_right{right:0;}
.preview_right{background-image:url(right.png);height:100%;background-repeat:no-repeat;background-position:50%;width:100px;cursor:pointer;top:0px;right:0px;position:absolute;z-index:3;opacity:0.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(70));filter:alpha(opacity = (70));-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;-ms-transition:opacity 0.3s;-o-transition:opacity 0.3s;transition:opacity 0.3s;}
.preview_right{right:0;}
.preview_close{position:absolute;top:0;right:0;width:30px;text-align:center;line-height:30px;z-index:101;font-size:31px;cursor:pointer;color:#ffffff;font-weight:bold;background-color:#005BA6;-webkit-transition:opacity 0.2s;-moz-transition:opacity 0.2s;-ms-transition:opacity 0.2s;-o-transition:opacity 0.2s;transition:opacity 0.2s;}
.preview_close:hover {background-color: #338dba}
.preview_close_small{position:fixed;margin-left: 670px;margin-top: -5px;width:18px;text-align:center;line-height:18px;z-index:101;font-size:18px;cursor:pointer;color:#ffffff;font-weight:bold;background-color:#005BA6;-webkit-transition:opacity 0.2s;-moz-transition:opacity 0.2s;-ms-transition:opacity 0.2s;-o-transition:opacity 0.2s;transition:opacity 0.2s;}
.preview_close_small:hover {background-color: #338dba}
.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}
.table-hover {
    overflow: hidden;
}
.table-hover td, .table-hover th {
    position: relative;
}
.table-hover td:hover::after { 
    background-color: #f5f5f5;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    opacity: 0.5;
    z-index: -1;        
}
.table-hover td:hover::before { 
    background-color: #f5f5f5;
    content: '\00a0';  
    height: 100%;    
    left: 0;
    top: 0;
    position: absolute;  
    left: -5000px;
    width: 100000px;
    opacity: 0.5;
    z-index: -1;        
}
.table-hover tr {
    background: none!important;
}
.__weekend::before {
    background-color: #dff0d8;
    content: '\00a0'; 
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
}

.table-monitor td {
    position: relative;
}
.list-group-item-title-success .number_desc {
    color: #36af38;
}
.list-group-item-title-success .ticket_title {
    color: #36af38;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/
.btn {
	padding: 0px 8px;
}

@media (min-width: 1200px) and (max-width: 1499px) {
    .hidden-lg {
        display: none !important;
    }
}

.filter_input:nth-child(2n-1) {
    clear: left;
}
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}

@media (min-width: 1500px) {
    .filter_input:nth-child(3n-2) {
        clear: left;
    }
    .container {
        width: 1470px;
        width: auto;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}
.curation-menu-0{
    color: #585f69;
	background-color: #ffffff;
    text-decoration: none;
}
.curation-menu-1{
    color: #585f69;
	background-color: #ffde92;
    text-decoration: none;
}
.curation-menu-2{
    color: #585f69;
	background-color: #ffa292;
    text-decoration: none;
}
.changemenu {
	border: none;
	box-shadow: none;
	padding: 0;
	height: 21px;
	font-size: 10px;
	vertical-align:middle;
	border: 1px solid #e3e3e3;

}
