a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

 .container {
        
          height: 100%;
          width: 100%;
          left: 0;
          -webkit-transition:  left 0.4s ease-in-out;
          -moz-transition:  left 0.4s ease-in-out;
          -ms-transition:  left 0.4s ease-in-out;
          -o-transition:  left 0.4s ease-in-out;
          transition:  left 0.4s ease-in-out;  
      }

 .main-content {
          width: 100%;
          height: 100%;
          padding: 10px 10px 10px 75px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          position: relative;
          overflow: visible;
      }


#newsidebar {
   position: fixed;	
    background-color: #eee;
    border-right: 0px solid #E6E6E6;
  font-family:  Roboto;
  font-size: 12pt;
  line-height: normal;
  font-smoothing: antialiased;
  max-width: 70px;
  min-width: 70px;
  height: 100%;
  box-shadow: 1px 1px 1px 5px rgba(140,140,140,.15);
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

#newsidebar:hover {
  max-width: 100%;
}
#newsidebar .logo {
  cursor: default;
  width: 100%;
  height: 50px;
  background: white;
  font-size: 22pt;
  color: #B5D6E2;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
}

#newsidebar ul li  {
  overflow: hidden;
  transition: all .3s ease;
  white-space: nowrap;
  vertical-align:middle;	
}

#newsidebar ul li a  {
  height: 50px;
  border-top: 1px solid #eee;
  display: block;
  color: #4B5563;
  text-decoration: none;
  vertical-align:middle;	
}

#newsidebar ul li a i {
  width: 50px;
  height: 50px;
  box-shadow: 1px 0 #eee;
  font-size: 12pt;
  
  line-height: 50px;
}

#newsidebar ul li a   span{
 padding: 15px 20px 15px 5px;

  opacity: 0;
	vertical-align:middle;		
  transform: translateX(15px);
 	transition: all 0.5s ease-in-out;
 }

#newsidebar img {
	margin-left:10px;
	vertical-align:middle;
	
}
 
 
#newsidebar ul li:hover {
  background: #B5D6E2;
}

#newsidebar:hover ul li a span {
   opacity: 1;
  transform: translateX(0);
  
}