{extends '_base_.tpl'}

{block 'title'}
    {$title}
{/block}
{block 'content'}
    <div class="form-horizontal panel panel-color panel-custom">
        {$content}
        <img src="public/img/zevs.png" alt="">
    </div>
{/block}
