<div class="topbar-left">
    <div class="text-center">
        <a href="" class="logo"><img alt="AURA" height="20px"
                                     style="margin-top:-13px;margin-left:15px;margin-right:40px;"
                                     src="/public/img/logo_aura_min2.png"></a>
    </div>
</div>